form{
    background-color: aqua;
    justify-content: center;
    width: 100%;
    position: relative;
    height:100vh;
    text-align: center;

}

h2{
    justify-content: center;
    display: flex;
    position: relative;

}
label,inpit{
    /*um abaixo do outro*/
    display:block;
}