body{
    background-color: aqua;
}

header{
    background-color: #000;
    height: 85px;
}

header ul{
    padding-left: 0; 
    color: aliceblue;
    position: relative;
    left: 20px;
}
header li{
        position:relative;
        left: 30px; 
        right: 30px; 

}
header h1{
    color:aliceblue;
    left: 10px;
    font-size: 30px;
}