*{
    margin: 0;
    top: 0;
    
}



header{
    background-color: #000;
    height: 85px;
 
}

header .links{
    padding-left: 0; 
    color: aliceblue;
    display:flex;
    grid-gap: 1.2rem;
    position: relative;
    left: 10px;
    width:50%;
    
}

header h1{
    color:aliceblue;
    left: 10px;
    font-size: 30px;
    position: relative;
    left: 10px;
    width:50%;
}


.containerP{
    background-color: aqua;
    width: 100%;
    
    position: relative;
    height: 450px; /* Ajuste conforme necessário */
    background-image: url('barberFoto.jpg');
    background-size: cover; /* Ajusta a imagem para cobrir a div */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-color: rgba(14, 14, 15, 0.5);
    justify-content: center;
    text-align: center;
    display:block;

  
    
}

.containerP h1,h3,h4{
    color: rgb(255, 255, 255);
    font-size:70px;
    position:relative;
    top:70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}
